{# app/Resources/views/emails/hotel_registration.html.twig #}
<h3>Hello {{ name }},</h3>
Your account at <strong>Gobind Sarvar, Conference Management System </strong> has been assigned a hotel for one of your registered conferences!

To login and confirm your hotel booking, <a href="{{ url('fos_user_security_login') }}">click here</a>.

Thanks!

<img src="{{ absolute_url(asset('images/Logo.png')) }}">

This is an automated e-mail, please DO NOT REPLY to this e-mail.
