{# app/Resources/views/homepage/homepage.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Home{% endblock%}

{% block body %}

    {# TODO: Display a list of conferences#}

    <h1>Lucky Numbers: {{ luckyNumber }}</h1>
{% endblock %}