{# app/Resources/views/homepage/index.html.twig #}
{% extends 'base.html.twig' %}


<!-- this is just a stub to show how views work. Replace this with Johnnies template for homepage -->

{% block body %}
    <h1>Lucky Numbers: {{ luckyNumber }}</h1>
{% endblock %}