html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

.page-content {
  margin: auto;
  max-width: 900px;
  padding: 8px;
  padding-top: 48px;
}

.cms .mdl-layout__content section:not(:last-of-type) {
  position: relative;
  margin-bottom: 48px;
}

.welcome-card-wide.mdl-card {
  width: 900px;
}
.welcome-card-wide > .mdl-card__title {
  color: #000;
  height: 176px;
}
.welcome-card-wide > .mdl-card__menu {
  color: #fff;
}

.login-card-wide.mdl-card {
  width: 900px;
}

.login-card-wide > .mdl-card__title {
  color: #000;
  height: 176px;
}

.form-signin, .form-signup {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  padding-bottom: 45px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}