{% trans_default_domain 'FOSUserBundle' %}

    {# TODO: add proper fields #}
    {# TODO: formatting #}

{% if user is defined %}
<div class="profile-ribbon"></div>

<main class="mdl-layout__content-profile-show">
	<div class="page-content mdl-grid">	
		<div class="mdl-card profile-show-card mdl-cell mdl-cell--12-col mdl-shadow--4dp">		
			<h2>{{ user.username }}</h2>
			
			<!-- Profile details here -->
			<div class="mdl-card profile-details-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
			    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
					<h2 class="mdl-card__title-text">{{ user.name }}</h2>
				</div>
				<ul class="profile-detail-list mdl-list">
				  <li class="mdl-list__item">
					<span class="mdl-list__item-primary-content">
					<i class="material-icons mdl-list__item-icon">person</i>
					  Username: {{ user.username }}
					</span>
				  </li>
				  <li class="mdl-list__item">
					<span class="mdl-list__item-primary-content">
					<i class="material-icons mdl-list__item-icon">mail</i>
					  Email: {{ user.email }}
					</span>
				  </li>
				</ul>
			</div>
			
			<!-- Joined Conferences and Events here -->
			{# TODO: either display registrations here or have a link to them #}
			
			
		</div>
	</div>
</main>

{% endif %}
