
<div class="security roles">

    <div class="roles">
        <h1>ROLES </h1>
        <ul>
            {% for role in roles %}
                <li>
                    {{ role[0] }}
                </li>
            {%  endfor %}
        </ul>
    </div>

    <div class="users">
        <h1>USERS </h1>
        <ul>
            {% for user in users %}
                <li>
                    Name : {{ user.name }}
                    <ul>
                        <li>
                            {% for role in user.roles %}
                                Role: {{ role }}
                            {% endfor %}
                        </li>

                    </ul>
                </li>
            {%  endfor %}
        </ul>
    </div>


</div>
